body {
  background: #fff;
  font-size: 0.15rem;
}
header {
  width: 100%;
  line-height: 0.44rem;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #d1d1d1;
}
header h1 {
  text-align: center;
  font-size: 0.15428571rem;
  color: #52585f;
}
header span {
  width: 0.22857143rem;
  height: 0.17142857rem;
  background: url("../images/fanhui.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 0.15428571rem;
  left: 0.11428571rem;
}
.comDe-con .swiper-container {
  width: 100%;
  margin: 0rem auto;
  margin-top: 0.46285714rem;
}
.comDe-con .swiper-container .swiper-slide {
  text-align: center;
  font-size: 0.05142857rem;
  background: #fff;
}
.comDe-con .swiper-container .swiper-slide img {
  width: 100%;
}
.comDe-con .textDetail {
  padding: 0.11428571rem 0.05714286rem 0.11428571rem 0.14285714rem;
}
.comDe-con .textDetail .textDetail-box {
  display: flex;
  height: 0.31428571rem;
}
.comDe-con .textDetail .textDetail-box .textDetail-name {
  font-size: 0.13142857rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 0.15714286rem;
  width: 83%;
  color: #515860;
}
.comDe-con .textDetail .textDetail-box .textDetail-img {
  padding-left: 0.15714286rem;
  border-left: 1px solid #515860;
  margin-left: 0.11428571rem;
}
.comDe-con .textDetail .textDetail-box .textDetail-img .imgBanner {
  width: 0.22rem;
  height: 0.19714286rem;
  display: block;
  background: url("../images/xin.png") no-repeat;
  background-size: cover;
}
.comDe-con .textDetail .textDetail-box .textDetail-img span {
  font-size: 0.10571429rem;
  margin-top: 0.02285714rem;
  color: #515860;
}
.comDe-con .textDetail .textDetail-box .textDetail-img-active {
  padding-left: 0.15714286rem;
  border-left: 0.00285714rem solid #515860;
  margin-left: 0.11428571rem;
}
.comDe-con .textDetail .textDetail-box .textDetail-img-active .imgBanner {
  width: 0.22rem;
  height: 0.19714286rem;
  display: block;
  background: url("../images/xin1.png") no-repeat;
  background-size: cover;
}
.comDe-con .textDetail .textDetail-box .textDetail-img-active span {
  font-size: 0.10571429rem;
  margin-top: 0.02285714rem;
  color: #c1b480;
}
.comDe-con .textDetail .money {
  margin: 0.08571429rem 0 0.13428571rem 0;
  display: inherit;
  font-size: 0.14857143rem;
  color: #c1b480;
}
.comDe-con .textDetail .textDetail-text {
  font-size: 0.10857143rem;
  color: #61686e;
  line-height: 0.13714286rem;
}
.comDe-con .video {
  width: 100%;
  position: relative;
}
.comDe-con .video > .i-active {
  width: 0.48571429rem;
  height: 0.48571429rem;
  display: inline-block;
  position: absolute;
  background: url("../images/bofang.png") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.comDe-con .video > span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.15428571rem;
  color: red;
}
.comDe-con .boutique {
  margin: 0.17142857rem 0 0.08571429rem 0;
  /* h2{
      color: #ffffff;
      font-size: 46/@px;
      background: #c3b380;
      text-align: center;
      padding: 27/@px 0;
      margin-bottom: 30/@px;
    }
    ul{
      a{
        li{
          //height: 280/@px;
          padding: 20/@px 40/@px;
          border-top: 1/@px solid #d1d1d1;
          border-bottom: 1/@px solid #d1d1d1;
          display: flex;
          margin-bottom: 20/@px;
          .comm-img{
            width: 25%;
            margin-right: 38/@px;
            img{
              width: 100%;
              //height: 100%;
            }
          }
          .comm-detail{
            width: 75%;
            .comm-detail-top{
              height: 50%;
              width: 100%;
              //background: red;
              display: flex;
              .cdt-left{
                width: 80%;
                p{
                  font-size: 46/@px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  overflow: hidden;
                  line-height: 49/@px;
                  margin-bottom: 14/@px;
                  color: #53585e;
                }
                span{
                  font-size: 44/@px;
                  color: #c3b380;
                }
              }
              .cdt-right{
                margin-left: 8%;
                .img{
                  margin-left: 6%;
                  width: 60/@px;
                  height: 60/@px;
                  display: block;
                  background: url("../images/xin.png")no-repeat;
                  background-size: 100% 100%;
                }
                span{
                  font-size: 30/@px;
                  color: #515860;
                }
              }
              .cdt-right-active{
                //margin-left: 60/@px;
                .img{
                  margin-left: 6%;
                  width: 60/@px;
                  height: 60/@px;
                  display: block;
                  background: url("../images/xin1.png")no-repeat;
                  background-size: 100% 100%;

                }
                span{
                  font-size: 30/@px;
                  color: #c1b480;
                }
              }
            }
            .comm-detail-bottom{
              padding-top: 20/@px;
              height: 50%;
              width: 100%;
              //background: blue;
              p{
                font-size: 38/@px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                line-height: 44/@px;
                color: #61686e;
              }
            }

          }


        }
      }
    }*/
}
.comDe-con .boutique ul li {
  width: 100%;
}
.comDe-con .boutique ul li img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.05714286rem;
}
