html,
body {
  background: #fff;
}
header {
  width: 100%;
  line-height: 45.83333333px;
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 18.75px;
  color: #c3b380;
}
header span {
  width: 20.83333333px;
  height: 26.38888889px;
  background: url("../images/user1.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 10.41666667px;
  left: 13.88888889px;
}
header a {
  width: 23.61111111px;
  height: 24.30555556px;
  background: url("../images/user2.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 10.41666667px;
  right: 13.88888889px;
}
.box .swiper-container {
  width: 100%;
  margin: 0px auto;
}
.box .swiper-container .swiper-slide {
  text-align: center;
  font-size: 6.25px;
  background: #fff;
}
.box .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.box .category {
  width: 100%;
}
.box .category .category-ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.5%;
}
.box .category .category-ol > a {
  width: 20%;
  height: 62.5px;
  margin-top: 10.41666667px;
  text-align: center;
  color: #52585f;
}
.box .category .category-ol > a img {
  width: 41.66666667px;
  height: 41.66666667px;
  display: block;
  margin-bottom: 4.16666667px;
  border-radius: 50%;
}
.box .category .category-ol > a span {
  font-size: 12.5px;
}
.box .category .none {
  display: none;
}
.box .category .block {
  display: block;
}
.box .category-list {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.box .newRecommend {
  margin-top: 12.15277778px;
}
.box .newRecommend .newRecommend-hea {
  height: 26.38888889px;
  background: #c3b380;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box {
  margin-left: 10.41666667px;
  background: #f0f0f0;
  height: 100%;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box span {
  font-size: 11.80555556px;
  color: #c3b37f;
  text-align: left;
  margin-top: 6.94444444px;
  margin-left: 7.63888889px;
  display: inline-block;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box a {
  color: #6c6459;
  float: right;
  font-size: 11.80555556px;
  margin-top: 6.94444444px;
  margin-right: 14.58333333px;
}
.box .newRecommend ul {
  padding: 0 13.88888889px;
  display: flex;
  flex-wrap: wrap;
}
.box .newRecommend ul a {
  width: 48%;
  margin-top: 10.41666667px;
}
.box .newRecommend ul a li .shop-img {
  width: 100%;
}
.box .newRecommend ul a li .shop-img img {
  width: 100%;
  height: 100%;
}
.box .newRecommend ul a li p {
  font-size: 13.19444444px;
  line-height: 15.97222222px;
  margin-top: 6.94444444px;
  margin-bottom: 5.20833333px;
  color: #52585f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.box .newRecommend ul a li span {
  font-size: 13.88888889px;
  color: #c2b380;
}
.box .newRecommend ul a:nth-child(odd) {
  margin-right: 4%;
}
.box .loader {
  width: 100%;
  height: 26.38888889px;
  background: #f0f0f0;
  text-align: center;
}
.box .loader span {
  font-size: 11.80555556px;
  color: #868686;
  margin-top: 6.94444444px;
  display: inline-block;
  position: relative;
}
.box .loader span i {
  width: 11.11111111px;
  height: 11.11111111px;
  background: url("../images/loader.png") no-repeat;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: -13.88888889px;
}
.box .no-info {
  text-align: center;
  color: #c1c1c1;
  font-size: 10.41666667px;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 4px;
}
