html,
body {
  background: #fff;
  font-size: 0.15rem;
}
header {
  width: 100%;
  line-height: 0.25142857rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99;
}
header h1 {
  text-align: center;
  font-size: 0.15428571rem;
  color: #c3b380;
}
header span {
  width: 0.17142857rem;
  height: 0.21714286rem;
  background: url("../images/user1.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 0.02857143rem;
  left: 0.11428571rem;
}
header a {
  width: 0.19428571rem;
  height: 0.2rem;
  background: url("../images/user2.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 0.04285714rem;
  right: 0.11428571rem;
}
.box .swiper-container {
  width: 100%;
  margin: 0rem auto;
}
.box .swiper-container .swiper-slide {
  text-align: center;
  font-size: 0.05142857rem;
  background: #fff;
}
.box .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.box .category {
  width: 100%;
}
.box .category .category-ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.5%;
}
.box .category .category-ol > a {
  width: 20%;
  margin-top: 0.08571429rem;
  text-align: center;
  color: #52585f;
}
.box .category .category-ol > a img {
  /* width: 120/@px;
          height: 120/@px;*/
  width: 80%;
  height: 80%;
  display: block;
  margin-bottom: 0.05714286rem;
  border-radius: 50%;
}
.box .category .category-ol > a span {
  font-size: 0.11428571rem;
}
.box .category .none {
  display: none;
}
.box .category .block {
  display: block;
}
.box .category-list {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.box .newRecommend {
  margin-top: 0.1rem;
}
.box .newRecommend .newRecommend-hea {
  height: 0.21714286rem;
  background: #c3b380;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box {
  margin-left: 0.08571429rem;
  background: #f0f0f0;
  height: 100%;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box span {
  font-size: 0.09714286rem;
  color: #c3b37f;
  text-align: left;
  margin-top: 0.05714286rem;
  margin-left: 0.06285714rem;
  display: inline-block;
}
.box .newRecommend .newRecommend-hea .newRecommendHea-box a {
  color: #6c6459;
  float: right;
  font-size: 0.09714286rem;
  margin-top: 0.05714286rem;
  margin-right: 0.12rem;
}
.box .newRecommend ul {
  padding: 0 0.11428571rem;
  display: flex;
  flex-wrap: wrap;
}
.box .newRecommend ul a {
  width: 48%;
  margin-top: 0.08571429rem;
}
.box .newRecommend ul a li .shop-img {
  width: 100%;
}
.box .newRecommend ul a li .shop-img img {
  width: 100%;
  height: 100%;
}
.box .newRecommend ul a li p {
  font-size: 0.10857143rem;
  line-height: 0.2rem;
  margin-top: 0.05714286rem;
  margin-bottom: 0.04285714rem;
  color: #52585f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.box .newRecommend ul a li span {
  font-size: 0.11428571rem;
  color: #c2b380;
}
.box .newRecommend ul a:nth-child(odd) {
  margin-right: 4%;
}
.box .loader {
  width: 100%;
  height: 0.21714286rem;
  background: #f0f0f0;
  text-align: center;
}
.box .loader span {
  font-size: 0.09714286rem;
  color: #868686;
  margin-top: 0.05714286rem;
  display: inline-block;
  position: relative;
}
.box .loader span i {
  width: 0.09142857rem;
  height: 0.09142857rem;
  background: url("../images/loader.png") no-repeat;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 0rem;
  left: -0.11428571rem;
}
.box .no-info {
  text-align: center;
  color: #c1c1c1;
  font-size: 0.08571429rem;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 4px;
}
