html,
body {
  background: #fff;
}
header {
  width: 100%;
  line-height: 45.83333333px;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
}
header h1 {
  text-align: center;
  font-size: 18.75px;
  color: #52585f;
}
header span {
  width: 27.77777778px;
  height: 20.83333333px;
  background: url("../images/fanhui.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 13.88888889px;
  left: 13.88888889px;
}
header i {
  width: 23.61111111px;
  height: 24.30555556px;
  background: url("../images/shaixuan.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 10.41666667px;
  right: 13.88888889px;
}
.box .swiper-container {
  width: 100%;
  height: 208.33333333px;
  margin: 0px auto;
}
.box .swiper-container .swiper-slide {
  text-align: center;
  font-size: 6.25px;
  background: #fff;
}
.box .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.box .newRecommend ul {
  padding: 0 13.88888889px;
  display: flex;
  flex-wrap: wrap;
}
.box .newRecommend ul > a {
  width: 47.5%;
  margin-top: 10.41666667px;
}
.box .newRecommend ul > a li .shop-img {
  width: 100%;
}
.box .newRecommend ul > a li .shop-img img {
  width: 100%;
  height: 100%;
}
.box .newRecommend ul > a li p {
  font-size: 13.19444444px;
  line-height: 15.97222222px;
  margin-top: 6.94444444px;
  margin-bottom: 5.20833333px;
  color: #52585f;
}
.box .newRecommend ul > a li span {
  font-size: 13.88888889px;
  color: #c2b380;
}
.box .newRecommend ul > a:nth-child(odd) {
  margin-right: 5%;
}
.box .loader {
  width: 100%;
  height: 26.38888889px;
  background: #f0f0f0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
.box .loader span {
  font-size: 11.80555556px;
  color: #868686;
  margin-top: 6.94444444px;
  display: inline-block;
  position: relative;
}
.box .loader span i {
  width: 11.11111111px;
  height: 11.11111111px;
  background: url("../images/loader.png") no-repeat;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: -13.88888889px;
}
.box .no-info {
  text-align: center;
  background: #f0f0f0;
  position: fixed;
  left: 38%;
  bottom: 0;
}
.box .none-data {
  position: relative;
  top: 6.94444444px;
  left: 0;
  background: #fff;
}
.choice {
  position: absolute;
  top: 0;
  left: 20%;
  height: 100%;
  width: 80%;
  background: #fff;
  display: none;
}
.choice .header {
  width: 100%;
  line-height: 45.83333333px;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
  background: #c3b380;
}
.choice .header h1 {
  text-align: center;
  font-size: 18.75px;
  color: #fffffd;
}
.choice .header span {
  width: 19.09722222px;
  height: 19.09722222px;
  background: url("../images/2.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 13.88888889px;
  left: 13.88888889px;
}
.choice .header i {
  width: 20.83333333px;
  height: 20.83333333px;
  background: url("../images/1.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: 13.88888889px;
  right: 13.88888889px;
}
.choice .choice-ul > li .choice-target {
  display: block;
  width: 100%;
  line-height: 40.27777778px;
  padding-left: 13.88888889px;
  border-bottom: 1px solid #d1d1d1;
  color: #53585e;
  font-size: 13.19444444px;
  position: relative;
}
.choice .choice-ul > li .choice-target i {
  width: 12.5px;
  height: 12.5px;
  border-bottom: 1px solid #53585e;
  border-left: 1px solid #53585e;
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  right: 20.83333333px;
}
.choice .choice-ul > li .choice-target .rotate-i {
  border-bottom: 1px solid #c4b280;
  border-left: 1px solid #c4b280;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 20.83333333px;
}
.choice .choice-ul > li .choice-ul-ol {
  background: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  padding: 13.88888889px 20.83333333px 3.47222222px 20.83333333px;
}
.choice .choice-ul > li .choice-ul-ol > li {
  width: 30.5%;
  line-height: 34.72222222px;
  background: #eeeeee;
  color: #515860;
  text-align: center;
  margin-right: 4%;
  margin-bottom: 4%;
}
.choice .choice-ul > li .choice-ul-ol > li:nth-child(3n+0) {
  margin-right: 0%;
}
.choice .choice-ul > li .choice-ul-ol > .li-active {
  background: #c3b380;
  color: #efede1;
}
.choice .choice-ul > li .none {
  display: none;
}
